@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

/*Cinzel e Space Grotesk*/

:root{
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: "Cinzel", serif;
    --fonte3: "Space Grotesk", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    /*Para deixar tudo maiusculo (text-transform: uppercase;)*/
    /*font-variant: small-caps; Deixa tudo maiusculo porem as primeiras letras são maiores*/
    text-transform: uppercase;
    font-size: 7vw;
    
}

header > h2{
    font-family: var(--fonte2);
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
    font-size: 1em;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Espaçamento entre as linhas*/
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 4vw;
}

section > p{
    padding-bottom: 2em;
    font-family: var(--fonte2);
    font-variant: small-caps;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/img03.jpg);
    background-position: right center;

}

section#img02{
    background-image: url(../imagens/img04.jpg);
    background-position: center center;
 
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}